* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    padding: 2rem;
    background-color: #333;
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 2rem;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}



.สังคม-con  {
    max-width: 1240px;
    margin: 0 auto;
}

.สังคม {
    background-color: #f1f1f1;
}

.สังคม-con {
    display: flex;
}

.สังคม-info {
    width: 100%;
    padding: 2rem;
}

.สังคม-info h3 {
    font-size: 2rem;
    text-decoration: underline;
}

.สังคม-info p {
    margin: 0.5rem 0;
    font-size: 1.3rem;
}


.สังคม-img {
    width: 100%;
    padding: 1rem 0;
}